<div id="social-icons" class="social-icons">
<a href="https://www.facebook.com/alxsdesign" target="_blank"><i class="fi fi-social-facebook"></i></a>
<a href="https://github.com/tipsforthings" target="_blank"><i class="fi fi-social-github"></i></a>
<a href="https://plus.google.com/u/0/116471654573031381012/posts/p/pub" target="_blank"><i class="fi fi-social-google-plus"></i></a>
<a href="https://twitter.com/alxsdesign" target="_blank"><i class="fi fi-social-twitter"></i></a>
</div>
 
